evidently==0.4.25
keras==3.2.1
matplotlib==3.8.4
matplotlib==3.5.1
numpy==1.21.5
opencv_python==4.9.0.80
pandas==2.2.2
Pillow==9.0.1
Pillow==10.4.0
plotly==5.22.0
PyYAML==6.0.1
PyYAML==6.0.1
scikit_learn==1.4.2
tensorflow==2.16.2
tensorflow==2.16.1
tensorflow_gpu==2.10.0rc2
tqdm==4.66.2
ultralytics==8.2.1
